<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bangqu.yinwan.shop"
    android:versionCode="75"
    android:versionName="1.7.5" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="18" />
    <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 上网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 访问精确位置的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 新添加的权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- end新添加的权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 允许访问闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <application
        android:name=".base.CommonApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_push_bg"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >

        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2" >
            <intent-filter android:priority="0x7fffffff" >

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
            <intent-filter android:priority="0x7fffffff" >
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <activity android:name="com.tencent.android.tpush.XGPushActivity" >
            <intent-filter>
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />
        <service android:name="com.bangqu.yinwan.shop.ui.NotificationService" />
        <!-- 【可选】APP实现的Receiver，用于接收消息透传和操作结果的回调，请根据需要添加 -->
        <!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        <receiver android:name="com.bangqu.yinwan.shop.ui.MessageReceiver" >
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>
        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100033314" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="AG7SLP9479SM" />

        <activity android:name="com.umeng.fb.ConversationActivity" />
        <activity android:name="com.umeng.fb.ContactActivity" />
        <!-- Caution! Do not change this app key. It is only for demo usage. -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="52d783c356240bb3ef0c0c8f" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- app推广 -->
        <meta-data
            android:name="BANGQU_APPKEY"
            android:value="10006" >
        </meta-data>
        <meta-data
            android:name="BANGQU_APPSECRET"
            android:value="affa7fbcde202dfrgj5h" >
        </meta-data>
        <meta-data
            android:name="BANGQU_APKNAME"
            android:value="银湾商户版" >
        </meta-data>
        <meta-data
            android:name="BANGQU_PACKAGE"
            android:value="com.bangqu.yinwan.shop" >
        </meta-data>

        <service android:name="com.bangqu.tuiguangyuan.service.DeviceService" >
        </service>

        <activity
            android:name=".base.UIBaseActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".ui.LogoActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Time"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.CenterofAccountActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.AssessActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.WelcomeActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.HomeOrderActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.HomeProductActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.HomeMoreActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.HomeMoreShopActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.HomeMoreNearActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.HomeMoreHelpActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.AddPromotionActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.AddAlipayActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.AccountActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.AccountListActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.AddBankCardActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.CategoryActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.DayListActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ProductAddActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ProductUpdateActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.DingDanActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.DingDanOne"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.DingDanTwo"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.DingDanActivityOne"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.DingDanThree"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.DingDanFour"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.DingDanSix"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.DingDanSeven"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.DistrictActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.OwnerDingDanActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.OwnerDingDanOne"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.OwnerDingDanTwo"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.OwnerDingDanThree"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.OwnerDingDanFour"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.RegistActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.SelectShopActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ShopInfomationActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ShopDetailActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.HomeOrderManageActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.CreateShopActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.HomeFenLeiActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.HomeProductManageActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ProductListActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ProductCategoryListActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ProductCategoryAddActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ProductSalesActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.SearchXiaoQuTwoActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.SearchXiaoQuThreeActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ServiceAddActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.CityChangeActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.DingDanItemActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.PromotionManageActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ProductIsPromotedActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ProductUnPromotedActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.PromotionUpdateActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ProductUnPromotedUpdateActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.UrlWebView"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.GrouponManageActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ProductUnGrouponActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ProductIsGrouponActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.UnGroupoonUpdateActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.GroupoonUpdateActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.OwnerListActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.OwnerDetailActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ProductCategoryUpdateActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ProductIsPromotedUpdateActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ProductIsGrouponUpdateActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name=".webview.WebViewActivity" >
        </activity>
        <activity
            android:name=".ui.SearchXiaoQuActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.LocationActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.CanMarqueTextView"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.LocationOverlayDemo"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.LocationOneActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.LocationTwoActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.LocationThrActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.QiniuActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.SearchProductActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.ReSetPWDActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.PasswordActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.bangqu.yinwan.shop.core.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.bangqu.yinwan.shop.core.ViewfinderView"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.bangqu.yinwan.shop.ui.ServiceListActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

</manifest>